
<div ng-show="user != null" class="row row-content" style="padding: 20px;">
	<!-- Log out button. -->
	<a class="btn btn-primary" ng-click="logout()">
		Log out
	</a>
	
	<!-- New Post. -->
	<a class="btn btn-default" ui-sref="app.new-post">
		<span class="fa fa-file-o"></span> New Post
	</a>
	
	<!-- Button group for editing the current category. -->
	<div ng-show="current_cat != 'all_posts'" class="btn-group pull-right">
		<a class="btn btn-default">
			Edit
		</a>
		<a class="btn btn-default">
			<span class="fa fa-eye-slash"></span> Hide
		</a>
		<a class="btn btn-default">
			<span class="fa fa-trash-o"></span> Delete
		</a>
	</div>
	
</div>

<div ng-repeat="post in posts">
	<div class="row bn-post">
		<img class="col-lg-4" src="images/Sample/242x200.svg"></img>
		<div class="col-lg-8">
			<h4> 
				<a ui-sref="app.post({id : post.id})"> {{post.title}} </a>
				
			</h4>
			<div ng-bind-html="post.content_preview"></div>
			<h4> 
				<a class="label label-info bn-like-button" ng-click="like(post.id)">{{post.likes}} 
					<i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 
				</a> 
				<small style="margin-left: 20px;"> Posted on {{post.date}} by {{post.author}}</small> 					
			</h4>	
			<!-- Admin buttons, only shown when an admin has logged in. -->
			<div ng-show="user != null" class="btn-group pull-right">
				<!-- Edit post. -->
				<input type="button" value="Edit" class="btn btn-default"></input>
				<!-- Hide / show post. -->
				<a class="btn btn-default">
					<span class="fa fa-eye-slash"></span> Hide
				</a>
				<!-- Delete post. -->
				<a class="btn btn-default">
					<span class="fa fa-trash-o"></span> Delete
				</a>
			</div>
		</div>			
	</div>
</div>