<!--
	This is a view template for logging in 
	to the administration section of the website.
-->

<div>
	<!-- Login form. -->
	<div class="col-xs-5 col-xs-offset-3" style="margin-top: 50px;">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Login</h3>
			</div>
			<div class="panel-body">
				<div ng-if="error" class="alert alert-danger" role="alert">
					<span class="fa fa-exclamation" aria-hidden="true"></span> {{error}}
				</div>
				<form action="">
					<!-- Login field -->
					<div class="row-content">
						<label for="login-name" class="col-xs-4">Username</label>
						<div class="col-xs-8">
							<input type="text" ng-model="credentials.username" class="form-control" id="username-field" aria-describedby="login-name">
						</div>
					</div>
					<!-- Password field -->
					<div class="row-content">
						<label for="password" class="col-xs-4">Password</label>
						<div class="col-xs-8" style="margin-top: 10px;">
							<input type="password" ng-model="credentials.password" class="form-control" id="password-field" aria-describedby="password">
						</div>
					</div>					
					<!-- Login! -->
					<input type="submit" ng-click="login()" value="Login" class="btn btn-primary pull-right" style="margin-top: 10px;"></input>
					
				</form>
			</div>
		</div>
	</div>
</div>