<aside class="menu-left">
	<h3> Categories: </h3>
	<nav>
		<div class="list-group">
			<!-- Add a row for showing all the posts. -->
			<a class="list-group-item menu-left-item" ui-sref="app.posts_category({cat: 'all_posts'})" title="See ALL the posts!">
				<i class="fa fa-archive bn-icon" aria-hidden="true"></i>
				<span> All posts </span>
				<span class="badge">{{total_num_posts}}</span>
			</a>
			<!-- Add a row for each category. -->
			<a ng-repeat="category in categories" class="list-group-item menu-left-item" 
				ui-sref-active="active"
				ui-sref="app.posts_category({cat: category.name})" title="{{category.description}}">	
				<!-- Icon for this category. -->
				<i class="fa {{category.icon}} bn-icon" aria-hidden="true"></i>
				<!-- Category name. -->
				<span> {{category.name}} </span>
				<!-- Badge showing the amount of posts in this category. -->
				<span class="badge bn-badgecount">{{category.num_posts}}</span>
			</a>						
		</div>
		<div ng-show = "user != null" style="margin-bottom: 10px">
			<a class="btn btn-default">
				Add New Category
			</a>
		</div>
	</nav>
</aside>