<div style="margin:20px;">
	<ul class="nav nav-tabs">
		<li class="nav-item" ng-class="{'active': !preview}">
			<a class="nav-link" ng-click="preview = false">Editor</a>		
		</li>
		<li class="nav-item" ng-class="{'active': preview}">
			<a class="nav-link" ng-click="preview = true">Preview</a>		
		</li>
	</ul>
</div>
<!-- Preview tab, only shown when preview = true -->
<div ng-show="preview">
	<!-- Big header image. -->
	<div class="container">
		<img src="{{post.header_img}}"></img>
	</div>
	<!-- Title area. -->
	<h2>{{post.title}}</h2>
	<!-- Post info (categories etc.) -->
	<div class="text-muted"> Categories: <span ng-repeat="cat in post.categories"> {{cat}}, </span> </div> 
	<!-- Post contents. Is different for each post. -->
	<div style="margin-bottom: 30px;">
		<div ng-bind-html="post.content"></div>
	</div>
</div>
<!-- Editor tab, only shown when preview = false -->
<form ng-show="!preview">
	<!-- Blog post title. -->
	<div class="form-group row">
		<label for="post_title_input" class="col-xs-2 col-form-label"> Title </label>
		<div class="col-xs-10">
			<input id="post_title_input" type="text" class="form-control" aria-label="Title" ng-model="post.title"></input>
		</div>
	</div>
	
	<!-- Upload header image. -->
	<div class="form-group row">
		<label for="post_img_input" class="col-xs-3 col-form-label"> Header Image </label>
		<div class="col-xs-9">
			<input name="post_img_input" id="post_img_input" type="file" class="form-control-file col-lg-9" aria-label="Title"></input>
			<button ng-click="upload_header_img()" class="btn btn-primary col-lg-3 pull-right">Upload Image.</button>
		</div>
	</div>
	
	<!-- Select categories. -->
	<div class="form-group row">
		<div class="col-xs-2">
			<label for="post_cat_input" class="col-form-label"> Categories </label> <br>
			<small>Multiple possible.</small>
		</div>
		<div class="col-xs-10">
			<select ng-model="post.categories" style="height:120px;" id="post_cat_input" multiple class="form-control" aria-label="Title"> 
				<option ng-repeat="cat in categories">{{cat.name}}</option>
			</select>
		</div>
	</div>
	
	<!-- Post contents. -->
	<div class="form-group row">
		<label for="post_text_input" class="col-xs-2 col-form-label"> Contents </label>
		<div class="col-xs-10">
			<textarea id="post_text_input" class="form-control" aria-label="Title" ng-model="post.contents" rows=10></textarea>
		</div>
	</div>	
	
	<!-- Upload post. -->
	<input type="submit" ng-click="upload_post()" value="Post!" class="btn btn-primary pull-right" style="margin-bottom: 10px;"></input>
</form>

