
<div>
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Editor</h3>
				</div>
				<div class="panel-body">
				
					<!-- Upload header image. -->
					<div class="form-group row">
						<label for="post_img_input" class="col-xs-2 col-form-label"> Header </label>
						<div class="col-xs-9">
							<input 
								name="post_img_input" id="post_img_input" 
								type="file" class="form-control-file col-lg-9" aria-label="Title">
							</input>
							<button ng-click="upload_header_img()" class="btn btn-default col-lg-3 pull-right">Upload</button>
						</div>
					</div>
				
					<!-- Blog post title. -->
					<div class="form-group row">
						<label for="post_title_input" class="col-xs-2 col-form-label"> Title </label>
						<div class="col-xs-10">
							<input id="post_title_input" type="text" class="form-control" aria-label="Title" ng-model="post.title"></input>
						</div>
					</div>
					
					<label>Content</label>
					<div class="panel panel-primary">
						<div class="panel-body">
							<div ng-repeat="content in post.contents" class="row row-content" style="margin-top: 5px;">	
														
								<div class="col-sm-10">
								
									<a class="btn btn-default">
										<span class="fa fa-chevron-left"></span>
									</a>									
									<label>{{content.type}}</label>
									
									<a class="btn btn-default pull-right">
										<span class="fa fa-chevron-right"></span>
									</a>									
									
									<div ng-switch="content.type">
										<div ng-switch-when="text">
											<textarea ng-model="content.text" rows=10 class="form-control" style="width: 100%; padding: 10px;"> </textarea>
										</div>
										<div ng-switch-when="header 1">
											<input type="text" ng-model="content.text" class="form-control" style="width: 100%; padding: 10px;"> </input>
										</div>
									</div>
								</div>
								
								<div class="col-sm-1">
											
									<a class="btn btn-default">
										<span class="fa fa-trash-o"></span>
									</a>
									
									<a class="btn btn-default" style="margin-top: 20px;">
										<span class="fa fa-arrow-up"></span>
									</a>
									<a class="btn btn-default">
										<span class="fa fa-arrow-down"></span>
									</a>
								</div>
							</div>
							<div>
								<select class="custom-select" ng-model="current_row_type" ng-options="row_type for row_type in row_types">					
								</select>
								<a class="btn btn-primary" ng-click="add_row()">
									<span class="fa fa-plus-square-o"></span> Add Row
								</a>
							</div>
						</div>
					</div>
				
					<div class="pull-right">
						<a class="btn btn-default">
							Cancel
						</a>
						<a class="btn btn-primary">
							Save
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Preview</h3>
				</div>
				<div class="panel-body">
					<!-- Big header image. -->
					<div class="post-image">
						<img id="header_image" src="{{default_header_img_url}}" style="filter: blur(5px);" width="100%"></img>
						<!-- Title area. -->
						<h1 class="post-title" style="font-size: 30px;"><b>{{post.title}}</b></h1>
					</div>
					
					<!-- Post contents. -->
					<div ng-repeat="content in post.contents">
						<div ng-switch="content.type">
							<div ng-switch-when="text">
								<p>
									{{content.text}}
								</p>
							</div>
							<div ng-switch-when="header 1">
								<h4>{{content.text}}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>