
<div>
	<!-- 
		The Post Editor is divided into two columns:
			- The actual editor on the left.
			- A preview of the post on the right.
	-->
	<div class="row">	
		<div class="col-sm-6">
			<!--
				Editor side of the post editor.
			-->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Editor</h3>
				</div>
				<div class="panel-body">
				
					<!-- Upload header image. -->
					<div class="form-group row">
						<label for="post_img_input" class="col-xs-2 col-form-label"> Header </label>
						<div class="col-xs-9">
							<input 
								name="post_img_input" id="post_img_input_header" 
								type="file" class="form-control-file col-lg-9" aria-label="Title">
							</input>
							<button ng-click="upload_image('header')" class="btn btn-sm btn-default col-lg-3 pull-right">Upload</button>
						</div>
					</div>
				
					<!-- Blog post title. -->
					<div class="form-group row">
						<label for="post_title_input" class="col-xs-2 col-form-label"> Title </label>
						<div class="col-xs-10">
							<input id="post_title_input" type="text" class="form-control" aria-label="Title" ng-model="post.title"></input>
						</div>
					</div>
					
					<!-- Post categories. -->
					<div class="form-group row">
						<label for="post_title_input" class="col-xs-2 col-form-label"> Categories </label>
						<div class="col-xs-10">
							<select multiple class="form-control" ng-model="post.categories">								
								<option value="{{cat.name}}" ng-repeat="cat in categories">{{cat.name}}</option>
							</select>
						</div>
					</div>
					
					<hr>
					
					<!-- Content. -->
					<label>Content</label>
					<div class="panel panel-primary">
						<div class="panel-body">
						
							<!-- 
								For every media object contained in the text, 
								add controls to upload and/or edit it.
							-->							
							<label for="images-editor">Media</label>
							<div id="images-editor">
								<div ng-repeat="obj in post.content"> 
									<!-- In the case of an image: add an upload control. -->
									<div ng-if="obj.type == 'image'">
										<div class="row">
											<input 
												name="post_img_input_{{obj.id}}" id="post_img_input_{{obj.id}}" 
												type="file" class="form-control-file col-lg-9" aria-label="Title">
											</input>
											<div class="col-lg-3">
												<button class="btn btn-sm btn-default" ng-click="upload_image(obj.id)">Upload</button>
											</div>																						
										</div>
									</div>
									
								</div>
							</div>
							
							<!-- 
								Text Editor. 
								Contains the actual text of the post.
								By typing markup instructions like [img], media-objects can be added.
								Common markdown commands work as well, like '##Header 2', '* unordered list item' and '1. ordered list item'.
							-->
							<label for="text-editor">Text</label>
							<textarea id="text-editor" ng-model="content_raw" 
								ng-change="generate_html()" rows=10 class="form-control" style="width: 100%; padding: 10px;"> 
							</textarea>							
						</div>
					</div>
				
					<!-- Save and cancel buttons. -->
					<div class="pull-right">
						<a class="btn btn-default">
							Cancel
						</a>
						<a class="btn btn-primary" ng-click="upload_post()">
							Save
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--
			Preview side of the post editor.
		-->
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Preview</h3>
				</div>
				<div class="panel-body">					

					<!-- Big header image. -->
					<img id="post_img_header" class="post-header-image center-cropped" src="{{post.header_img}}" width="100%"></img>
					
					<!-- Header area (title, author, categories, date, etc.). -->
					<div class="post-header">
						<h1 class="post-title" style="font-size: 30px;"><b>{{post.title}}</b></h1>
						<!-- Categories. -->	
						<div>
							By {{post.author}} on {{post.created_on | date: 'medium'}}
							
							<div>
								<span ng-repeat="cat in post.categories" class="label label-primary" style="margin: 4px;">
									{{cat}} 
								</span>
							</div>							
						</div>						
					</div>							
														
					<!-- Post contents. -->
					<div class="post-body">						
						<div ng-repeat="obj in post.content"> 
							<div ng-switch="obj.type">
								
								<!-- Image -->
								<div ng-switch-when="image">
										<img id="post_img_{{obj.id}}" class="post-image-full center-block" src="{{image_urls[obj.id]}}" style="width:100%"> </img>
										<!-- <p class="text-center"> {{obj.caption}} </p> -->							
								</div>
							
								<!-- Default: interpret it as text. -->
								<div ng-switch-default>
									<div ng-bind-html="obj.text" class="text-pre-wrap"> </div>
								</div>
								
							</div>
						</div>
					</div>
			
				</div>
			</div>
		</div>
	</div>
</div>