/*
	Custom stylesheet specifically made for the Braunian Noise site.
*/

#logo-img {
	width: 300px;
}

#body {
	background-color: #99d6ff;
}

/* CSS used here will be applied after bootstrap.css */
.bn-badgecount{
	display: inline
}

.bn-like-button {
	background-color: #4d79ff;
}

.bn-post {
	/* background-color: #cce6ff; */
	border-right: #d9d9d9 solid 5px;
	border-left: #d9d9d9 solid 5px;
	border-radius: 20px;
	margin: 5px;
	padding: 10px;
}

.bn-icon {
	width: 25px;
}

.menu-left {
	text-align: center;	
}

.menu-left-item {
	text-align: left;
	min-width: 180px;
}

.menu-left-count {
	max-width: 10px;
	text-align: center;
}

.post-image {
	position: relative;
	border-radius: 10px;
	margin: 5px;
}

.post-title {
	position: absolute;
	top: 35%;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 75px;
	background-color: rgba(0, 0, 0, 0.7);
}

.post-image-preview {
	border-radius: 10px;
}