/*
	Custom stylesheet specifically made for the Braunian Noise site.
*/

#logo-img {
	width: 300px;
}

#body {
	background-color: #99d6ff;
}

/* CSS used here will be applied after bootstrap.css */
.bn-badgecount{
	display: inline
}

.bn-like-button {
	background-color: #4d79ff;
}

.bn-post {
	/* background-color: #cce6ff; */
	border-right: #d9d9d9 solid 5px;
	border-left: #d9d9d9 solid 5px;
	border-radius: 20px;
	margin: 5px;
	padding: 10px;
}

.bn-icon {
	width: 25px;
}

.menu-left {
	text-align: center;	
}

.menu-left-item {
	text-align: left;
	min-width: 180px;
}

.menu-left-count {
	max-width: 10px;
	text-align: center;
}

/* Title of the preview of a post (in e.g. a list of posts). */
.post-preview-title {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}

.post-preview-text {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

/* Centered, cropped to size images. */
.center-cropped {
	object-fit: cover; 		/* Let the image cover the area of the image */
	object-position: center; /* Center the image within the element */
}

/* Header above a post. */
.post-header {	
	margin: 0px;
	padding-left: 5%;	
	padding-top: 5px;
	padding-bottom: 10px;	
	
	border-left: 5px solid;
	border-right: 5px solid;
	
	border-color: rgb(200, 200, 200);
}

/* Header image above a post. */
.post-header-image {
	width: 100%;
	height: 200px;
	
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;	
	border-left: 5px solid;
	border-right: 5px solid;
	border-color: rgb(200, 200, 200);	
}

/* Title of a post. */
.post-title {	
	text-align: left;	
	font-size: 75px;
	font-style: bold;
	font-family: 'Lato', sans-serif;	
}

/* Main body of the post. */
.post-body {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: 5px solid;
	border-right: 5px solid;	
	border-color: rgb(200, 200, 200);
}

.text-pre-wrap {
	white-space: pre-wrap;
}

/* Full-width image inside of a post. */
.post-image-full {
	max-height: 50%;
	max-width: 50%;
}

.post-image-preview {
	border-radius: 10px;
}